<p>To whom it may concern,</p>
<p>With regards to the {{ conf.title }} (ref.EMT{{ conf.id }}) you have submitted for assessment,
        please note that one or more non-compliant criteria have been identified during the initial assessment.</p>
<p>We have sent a correction notice to the conference organiser today, inviting them to send to me via
    email documentation which clearly shows that appropriate corrective action has been taken to make the
    Conference compliant with the Eucomed Code of Ethical Business Practice.</p>
<p>Please note that we provide 10 calendar days, in this case to {{ "now"|date_modify("+10 day")|date("d/m/Y") }} for the conference organisers to take corrective action.</p>
<p>If we do not receive such documentation by  xxx, we will issue a final non-compliant decision
    for the Conference that will be posted on <a href="http://www.ethicalmedtech.eu">www.ethicalmedtech.eu</a> . </p> <br />
<p>Sincerely,<br />
{{signature}}<br />
Compliance Officer</p>
