{% extends 'base.html.twig'  %}
{% trans_default_domain "OSSystemEMTBundle" %}

{% block nav %}
    {% include "OSSystemEMTBundle:Default:widgets/topmenu.html.twig" %}
{% endblock %}


{% block content %}

    <h1>{{ content.title }}</h1>
    <div class="clear"></div>
    <div class="date">
        {{ content.content | raw}}
    </div>

{% endblock %}